.login-wrapper{
  // background: url("https://s1.cdn.autoevolution.com/images/news/city-car-or-supermini-what-car-to-buy-54443_1.jpg");
  background: url("../../assets/img/car_background.jpg");
}

span{
  text-align: center;
}

.fb-btn{
  background-color: #3b5998;
  margin: 6px !important;
}

.gp-btn{
  background-color: #d34836;
  margin: 6px !important;
}
