/* You can add global styles to this file, and also import other style files */
.row {
    margin-right: 10px;
    margin-left: 10px;
}

.spinner{
  text-align: center;
}

.content-area {
    margin-right: 10px;
    margin-left: 10px;
}

.capitalize {
    text-transform: capitalize;
}

td.left {
    word-break: break-all;
}

app-route-browser{
  margin: 10px;
}

.day-active{
  color: black;
  background-color: #C5E5EF;
 }

 @media only screen and (min-width: 1200px) {
   .card-block{
     padding: 10px 10px 10px 10px !important;
   }
 }
